@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main-cadastro{
    width: 100%;
    height: 891px;
    background-color: #201B2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro > h1{
    position: absolute;
    left: 108px;
    top: 126px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
}

.left-cadastro > h1 span{
    color: #AF60FF;
}

.left-image{
    position: absolute;
    width: 605px;
    height: 403px;
    left: 20px;
    top: 339px;
}

.right-cadastro{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    position: absolute;
    width: 451px;
    height: 574px;
    top: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2F2841;
    box-shadow: 0px 10px 40px rgba(0, 0, 86, 0.25);
    border-radius: 20px;
}

.card-cadastro > form h1{
    position: absolute;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 40px;
    color: #AF60FF;
}

.textfield-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}

.textfield-2 > input{
    position: relative;
    width: 291px;
    padding: 20px 15px;
    left: 0px;
    font-size: 12pt;
    background: #514869;
    color: #f0ffff;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 86, 0.25);
    box-sizing: border-box;
}

.textfield-2 > input::placeholder{
    color: #f0ffff94;
}

.textfield-2 > label{
    color: #FAFAFA;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-cadastro{
    position: absolute;
    width: 291px;
    padding: 16px 0px;
    margin-top: 25px;
    background: #AF60FF;
    border-radius: 10px;
    border: none;
    outline: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2B134B;
    font-size: 16px;
    cursor: pointer;
}

.rodape{
    position: absolute;
    width: 100%;
    height: 133px;
    background: #AF60FF;
}

.rodape > p{
    position: relative;
    top: 55px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}