@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins';
    background: #FAFAFA;
}

.main-sobre{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    height: 1400px;
}
.esq h1{
    position: absolute;
    left: 117px;
    top: 284px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    color: #000000;
}
.esq p{
    position: absolute;
    width: 504px;
    height: 151px;
    left: 91px;
    top: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
}

hr{
    position: absolute;
    width: 322px;
    left: 504px;
    top: 440px;
    border: 1px solid #000000;
    transform: rotate(90.18deg);
}
.dir{
    top:270px;
}
.dir h1{
    position: absolute;
    width: 600px;
    height: 72px;
    left: 740px;
    top: 284px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    color: #000000;
}
.dir #do{
    position: absolute;
    width: 504px;
    height: 97px;
    left: 740px;
    top: 377px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}
.dir #um{
    position: absolute;
    width: 504px;
    height: 97px;
    left: 740px;
    top: 484px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}

.t-2{
  position: absolute;
  left: 500px;
  top: 700px;
  font-size: 40px;
  text-align: center;
  color: #AF60FF;
}
.card{
    position: relative;
    width: 300px;
    height: 404px;
    left: 170px;
    top: 830px;
    display:inline-block;
    margin-right: 50px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card h2{
    position:absolute;
    left: 57px;
    top: 128px;
    width: 218px;
    height: 21px;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.card #r{
    position:absolute;
    left: 41px;
    top: 128px;
    width: 218px;
    height: 21px;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.card p{
    position:absolute;
    left:26px;
    top:162px;
    width: 247px;
    height: 137px;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: justify;
    color: #000000;
}
.card #p{
    position:absolute;
    top:27px;
    left:108px;
    width:82px;
    height:82px;
}
.card #lin{
    position:absolute;
    top:317px;
    left:26px;
}
.card #git{
    position: absolute;
    top: 321px;
    left: 122px;
}
 .card #inst{
    position: absolute;
    top: 317px;
    left: 209px;
 }
.card:hover{
    transform: translateY(-40px);
    box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: #EFDDF8;
}