<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/entrar.css">
    <title>Study-entrar</title>
</head>
<body>
  {%extends 'base.html'%}
  {%block conteudo%}
    <section class="main-default">
        <div class="box">
          <p>O parâmetro da rota não foi passado, por favor digite o valor cadastro ou login!</p>
      </div>
      <img id="img" src='static/assets/Logotipo-study.png'/>
    </section>
  {%endblock%}
</body>
</html>