{% extends "base.html"%}

{% block titulo %}
Página inicial
{% endblock %}

{% block conteudo %}
<section class="container-2">
  <div class="home-left">
        <h1>Bem-vindo ao <span>Study</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti suscipit totam architecto accusamus, pariatur numquam ratione. Earum unde, veritatis quaerat commodi sit ratione, laudantium dolore, odio accusantium aspernatur possimus!</p>
        <div class="btn-cadastro2">
            <a href="/cadastro" target="_blank">Inscreva-se</a>
        </div>
    </div>
    <div class="home-right">
        <img src="static/assets/svg-home.svg" alt="vetor-home">
    </div>
</section>

{% endblock %}