<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study-Sobre Nós</title>
    <link rel="stylesheet" type="text/css" href="static/css/sobre.css">

<body>
{%extends 'base.html'%}
  {%block conteudo%}
    <section class="main-sobre">
        <div class="esq">
        <h1>Quem somos nós?</h1>
        <p>Somos discentes do 3º ano do curso de Informática para Internet, no IFRN Campus Natal Zona Norte,
             que, juntos dos orientadores Alba Lopes e Pedro Baesse, desenvolvemos um ciclo de estudos.</p>
    <hr syze=7/>
    </div>
    <div class="dir">
        <h1>Qual é o nosso objetivo?</h1>
        <p id="do">O objetivo do nosso projeto é desenvolver um sistema que facilite o rendimento do 
            aluno através dos diferentes métodos de estudo, de forma que ele consiga assimilar seu tempo com suas atividades. </p>
        <p id="um">Nós, desenvolvedores do site e estudantes, entendemos a grande dificuldade do nosso cotidiano com as diversas 
            matérias e cobranças que nos fazemos. Portanto, afinalidade do site é conseguir ajudar <b><span style="color:#AF60FF">VOCÊ</span></b>.</p>    
    </div>
    <h2 class="t-2">Desenvolvedores</h2>
    <div class="baixo">
        <div class="card">
            <img src='static/assets/Ellipse 18.png' id="p"/>
            <h2>José Ferreira de Moura Júnior</h2>
            <p >Sou aluno do IFRN, onde sempre foi um sonho cursar, tenho 17 anos e adoro assistir série e estar por dentro das tendências das redes sociais. Sempre gostei de estudar e, durante a pandemia, me encontrei com dificuldades para concentração. 
                Então, vi na plataforma Study Now uma forma de ajudar outras pessoas com esse mesmo problema. A finalidade dela é fazer o equilíbrio entre o lazer e o foco do estudante.</p>
            <a href="https://br.linkedin.com/"><img src='static/assets/Ellipse 8.png' id="lin"/></a>
            <a href="href=https://github.com/"><img src='static/assets/Ellipse 10.png' id="git"/></a>
            <a href="https://www.instagram.com/"><img src='static/assets/Ellipse 9.png' id="inst" href="https://www.instagram.com/"/></a>
        </div>
        <div class="card">
            <img src='static/assets/Ellipse 17.png' id="p"/>
            <h2>Kauan Vinicius do Vale da Costa </h2>
            <p>Olá, meu nome é Kauan e sou aluno do 3º ano do curso 
de Informática para Internet, e com os meus superpoderes
de lacoste do front-end, busco ajudar as pessoas a encontrarem os melhores métodos de estudos.</p>
            <a href="https://br.linkedin.com/"><img src='static/assets/Ellipse 8.png' id="lin"/></a>
            <a href="href=https://github.com/"><img src='static/assets/Ellipse 10.png' id="git"/></a>
            <a href="https://www.instagram.com/"><img src='static/assets/Ellipse 9.png' id="inst"/></a>
        </div>
        <div class="card">
            <img src='static/assets/rayssa.png' id="p"/>
            <h2 id="r">Rayssa Beatriz Ribeiro Cavalcante</h2>
            <p>Sou aluna de informática para internet no IFRN e tenho 17 anos . Sempre gostei muito de estudar e vi nesse projeto uma oportunidade de melhorar meu aprendizado e ajudar outras pessoas a fazerem o mesmo.</p>
            <a href="https://br.linkedin.com/"><img src='static/assets/Ellipse 8.png' id="lin"/></a>
            <a href="href=https://github.com/"><img src='static/assets/Ellipse 10.png' id="git" /></a>
            <a href="https://www.instagram.com/"><img src='static/assets/Ellipse 9.png' id="inst" /></a>
        </div>
    </div>
    </section>
  {%endblock%}
</body>