<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study-Sugestões</title>
    <link rel="stylesheet" type="text/css" href="static/css/sug.css">
</head>
<body>
{% extends "base.html"%}
  
  {% block conteudo %}
      <section class="main-sugestoes" '>
        <h1>Deixe aqui as suas <span>sugestões</span></h1>
        <form action='/recebe_sugestoes' method="get">
            <input class="box-input-1" type="text" name= "nome"  placeholder="Digite seu nome" /> <br>
            <input class="box-input-2" type="text" name = "email"  placeholder="Digite seu email"/><br>
            <input class="sugestao" type="text" name="sugestao"  placeholder="Deixe aqui sua avaliação ou sugestão"><br>
           <input class="btn-sugestoes" name="enviar" type="submit" value="Enviar">
        </form>
        <img id="img" src='static/assets/Logotipo-study.png'/>
    </section>
  {% endblock %}
   
</body>
</html>