<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study - Sugestões</title>
    <link rel="stylesheet" type="text/css" href="static/css/sugr.css">
<body>
{%extends 'base.html'%}
  {%block conteudo%}
  <section class="main-resposta">
      <div class="b">
        <p>Obrigado pela avaliação!
            Agradecemos o seu interesse de nos ver crescer :)</p>
    </div>
    <img id="img" src='static/assets/Logotipo-study.png'/>
  </section>
  {%endblock%}
</body>